<p>All students</p>

<% @students.each do |student| %>
<article>
  <p>First name: <%= student.first_name %></p>
  <p>Second name: <%= student.second_name %></p>
  <p>House: <%= student.house %></p>
  <p>Age: <%= student.age %></p>
  <p><a href="/students/<%= student.id %>">View Student details</a></p>
</article>
<% end %>
